<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">textotextotexto</p>
    <hr class="my-4">
    <p>masmasmastextotextotexto</p>
    <a href="http://www.instagram.com/kevinilos" class="btn btn-primary btn-lg">Mi Instagram</a>
</div>